{{ form_start(form) }}
    <div class="card-body">
        {{ form_widget(form) }}
    </div>
    <div class="card-footer bg-perso">
        <button class="d-inline-block btn btn-success">{{ button_label|default('Save') }}</button>
        <a class="d-inline-block btn btn-secondary ml-3" href="{{ path('fournisseurs_index') }}">Retour</a>

    </div>
{{ form_end(form) }}
