{% extends 'base.html.twig' %}

{% block title %}Fournisseurs index{% endblock %}

{% block body %}
<div class="row">
    <div class="card col-md-10 offset-1 mt-3 p-0">
        <div class="card-header bg-perso text-white">
            <h1>Fournisseurs index</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Raison_sociale</th>
                        <th>Num_tel</th>
                        <th>Contact_nom_complet</th>
                        <th>Mail</th>
                        <th>Adresse</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for fournisseur in fournisseurs %}
                    <tr>
                        <td>{{ fournisseur.raisonSociale }}</td>
                        <td>{{ fournisseur.numTel }}</td>
                        <td>{{ fournisseur.contactNomComplet }}</td>
                        <td>{{ fournisseur.mail }}</td>
                        <td>{{ fournisseur.rue }} {{ fournisseur.cp }} {{ fournisseur.ville }} {{ fournisseur.pays }}</td>
                        <td>
                            <a class="fas fa-eye" href="{{ path('fournisseurs_show', {'id': fournisseur.id}) }}"></a>
                            <a class="fas fa-edit text-warning" href="{{ path('fournisseurs_edit', {'id': fournisseur.id}) }}"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-perso">
            <a class="btn btn-success" href="{{ path('fournisseurs_new') }}"><i class="fas fa-plus" ></i> Ajouter un fournisseur</a>
        </div>

{% endblock %}
