{{ form_start(form) }}
    <div class="card-body">
        <h2>Informations montant</h2>
        {{ form_row(form.libelle_montant, {'label':false}) }}
        <ul>
            {% for composantField in form.composants %}
                <li>
                    {{ form_errors(composantField) }}
                    {{ form_widget(composantField.libelle_composant) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer bg-perso">
        <button class="d-inline-block btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Créer') }}</button>
        <a class="d-inline-block btn btn-secondary ml-3" href="{{ path('montants_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
    </div>
{{ form_end(form) }}
