{{ form_start(form) }}
<div class="card-body">
    {{ form_widget(form) }}
    
</div>
<div class="card-footer bg-perso">
    <button class="btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Save') }}</button>
    <a class="btn btn-secondary" href="{{ path('huisserie_index') }}"> <i class="fas fa-arrow-left"></i> Retour</a>
</div>
{{ form_end(form) }}
