{{ form_start(form) }}
    <div class="card-body">
        {{ form_row(form.libelle_gamme, {'label':false}) }}
        {{ form_row(form.finition_exterieur, {'label':false}) }}
        {{ form_row(form.type_isolant, {'label':false}) }}
        {{ form_row(form.type_couverture, {'label':false}) }}
        {{ form_row(form.qualite_huisserie, {'label':false}) }}
    </div>
    <div class="card-footer bg-perso">
        <button class="btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-secondary" href="{{ path('gammes_index') }}"> <i class="fas fa-arrow-left"></i> Retour</a>
    </div>
{{ form_end(form) }}
