{% extends 'base.html.twig' %}

{% block title %}Gammes index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="card col-md-10 offset-1 mt-3 p-0">
            <div class="card-header bg-perso text-white">
                <h1>Liste des Gammes</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Libelle de la gamme</th>
                            <th>Finition extèrieure</th>
                            <th>Type d'isolant</th>
                            <th>Type de couverture</th>
                            <th>Qualite des huisseries</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for gamme in gammes %}
                        <tr>
                            <td>{{ gamme.libelleGamme }}</td>
                            <td>{{ gamme.finitionExterieur }}</td>
                            <td>{{ gamme.typeIsolant }}</td>
                            <td>{{ gamme.typeCouverture }}</td>
                            <td>{{ gamme.qualiteHuisserie }}</td>
                            <td>
                                <a class="fas fa-eye text-primary"  href="{{ path('gammes_show', {'id': gamme.id}) }}"></a>
                                <a class="fas fa-edit text-warning" href="{{ path('gammes_edit', {'id': gamme.id}) }}"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas de gamme enregistré</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-perso">
            <a class="btn btn-success" href="{{ path('gammes_new') }}"> <i class="fas fa-plus text-white"></i> Ajouter une Gamme</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
