{% extends 'base.html.twig' %}

{% block title %}Gammes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-8 offset-2 mt-3 p-0">
                <h1 class="card-header bg-perso text-white">Fiche Gamme {{ gamme.libelleGamme }}</h1>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Libellé de la gamme :</th>
                            <td>{{ gamme.libelleGamme }}</td>
                        </tr>
                        <tr>
                            <th>Finition extèrieur :</th>
                            <td>{{ gamme.finitionExterieur }}</td>
                        </tr>
                        <tr>
                            <th>Type d'isolant :</th>
                            <td>{{ gamme.typeIsolant }}</td>
                        </tr>
                        <tr>
                            <th>Type de couverture :</th>
                            <td>{{ gamme.typeCouverture }}</td>
                        </tr>
                        <tr>
                            <th>Qualite des huisseries :</th>
                            <td>{{ gamme.qualiteHuisserie }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-perso">
                    <a class="btn btn-secondary" href="{{ path('gammes_index') }}"> <i class="fas fa-arrow-left"></i> Retour</a>
                    <a class="btn btn-success ml-3 mr-3" href="{{ path('gammes_edit', {'id': gamme.id}) }}"><i class="fas fa-edit "></i> Editer</a>
                    {{ include('gammes/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
