{% extends 'base.html.twig' %}

{% block title %}Sections{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-12 card mt-2 p-0" >
        <div class="card-header bg-perso text-white">
            <h1 class="d-inline-flex col-md-10">Section {{ section.libelleSection }}</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Libellé section :</th>
                        <td>{{ section.libelleSection }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-perso">
            <a class="d-inline-block btn btn-secondary " href="{{ path('sections_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
            <a class="d-inline-block btn btn-primary ml-3" href="{{ path('sections_edit', {'id': section.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
            <a class="d-inline-block ml-3">{{ include('sections/_delete_form.html.twig') }}
        </div>
{% endblock %}
