{% extends 'base.html.twig' %}

{% block title %}Huisserie{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="card col-md-8 offset-2 mt-3 p-0">
            <h1 class="card-header bg-perso text-white">Fiche Huisserie {{ huisserie.libelleHuisserie }}</h1>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Libelle_huisserie</th>
                            <td>{{ huisserie.libelleHuisserie }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-perso">
                <a class="btn btn-secondary" href="{{ path('huisserie_index') }}"> <i class="fas fa-arrow-left"></i> Retour</a>

                <a class="btn btn-success ml-3 mr-3" href="{{ path('huisserie_edit', {'id': huisserie.id}) }}"><i class="fas fa-edit "></i> Editer</a>

                {{ include('huisserie/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
