{% extends 'base.html.twig' %}

{% block title %}Composants index{% endblock %}

{% block body %}
    <h1>Composants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_composant</th>
                <th>Caracteristique</th>
                <th>Unite_usage</th>
                <th>Prix_base</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composant in composants %}
            <tr>
                <td>{{ composant.id }}</td>
                <td>{{ composant.libelleComposant }}</td>
                <td>{{ composant.caracteristique }}</td>
                <td>{{ composant.uniteUsage }}</td>
                <td>{{ composant.prixBase }}</td>
                <td>
                    <a href="{{ path('composants_show', {'id': composant.id}) }}">show</a>
                    <a href="{{ path('composants_edit', {'id': composant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('composants_new') }}">Create new</a>
{% endblock %}
