{% extends 'base.html.twig' %}

{% block title %}Composants index{% endblock %}

{% block body %}
<div class="row">
    <div class="card col-md-8 offset-2 mt-3 p-0">
        <div class="card-header bg-perso text-white">
            <h1>Composants index</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Libellé composant</th>
                        <th>Caracteristique</th>
                        <th>Unité d'usage</th>
                        <th>Prix de base</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for composant in composants %}
                    <tr>
                        <td>{{ composant.libelleComposant }}</td>
                        <td>{{ composant.caracteristique }}</td>
                        <td>{{ composant.uniteUsage }}</td>
                        <td>{{ composant.prixBase }}</td>
                        <td>
                            <a class="fas fa-eye" href="{{ path('composants_show', {'id': composant.id}) }}"> </a>
                            <a class="fas fa-edit text-warning" href="{{ path('composants_edit', {'id': composant.id}) }}"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-perso">
            <a class="btn btn-success" href="{{ path('composants_new') }}"><i class="fas fa-plus" ></i> Ajouter un composant</a>
        </div>
    </div>
</div>
{% endblock %}
