{% extends 'base.html.twig' %}

{% block title %}Composants{% endblock %}

{% block body %}
    <h1>Composants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ composant.id }}</td>
            </tr>
            <tr>
                <th>Libelle_composant</th>
                <td>{{ composant.libelleComposant }}</td>
            </tr>
            <tr>
                <th>Caracteristique</th>
                <td>{{ composant.caracteristique }}</td>
            </tr>
            <tr>
                <th>Unite_usage</th>
                <td>{{ composant.uniteUsage }}</td>
            </tr>
            <tr>
                <th>Prix_base</th>
                <td>{{ composant.prixBase }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('composants_index') }}">back to list</a>

    <a href="{{ path('composants_edit', {'id': composant.id}) }}">edit</a>

    {{ include('composants/_delete_form.html.twig') }}
{% endblock %}
