{{ form_start(form) }}
    <div class="card-body">
        <h2>Informations client</h2>
        {{ form_row(form.nom_client, {'label':false}) }}
        {{ form_row(form.prenom_client, {'label':false}) }}
        {{ form_row(form.num_tel_client, {'label':false}) }}
        {{ form_row(form.mail_client, {'label':false}) }}
        <h2>Adresse</h2>
        {{ form_row(form.rue, {'label':false}) }}
        {{ form_row(form.cp, {'label':false}) }}
        {{ form_row(form.ville, {'label':false}) }}
        {{ form_row(form.pays, {'label':false}) }}
        </div>
    <div class="card-footer bg-perso">
        <button class="btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-secondary" href="{{ path('clients_index') }}"> <i class="fas fa-arrow-left"></i> Retour</a>
    </div>
{{ form_end(form) }}
